{% load static %}
<!-- SOlucion al problema con la tag static en django 3.1.16 -->
<html>

<head>
  <title>Django blog</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
  <header>
    <h1><a href="{% url 'home' %}">Django blog</a></h1>
    <div class="nav-left">
      <h1><a href="{% url 'home' %}">Django Home</a></h1>
    </div>
    <div class="nav-right"><a href="{% url 'post_new' %}">+ New blog post</a></div>
  </header>
  <div>
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>